#landing-page {
    margin-left: 400px;
    margin-top: 200px;
}

#search-card {
    margin-left: 550px;
}

#btn-search {
    margin-left: 85px;
}

#all-cards {
    margin-left: 200px;
}

#one-card-container {
    margin-left: 525px;
}